<DOCTYPE html>
	<link rel="stylesheet" type="text/css" href="ticket.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<header>
	<center>
	<p>
		Bienvenu sur la page Zoo N
	</p>
	</center>
</header>
<body>
<center>
    <div class="container">
        <h1 align="center">Ticket Incident</h1>
            <div class="row">
                <div class="col-md-6 offset-3">
                    <form method="post" action="traitement.php">
                        <div class="form-group">
                            <label for"pass"="">Login :</label> 
                            <input type="password" name="pass" class="form-control" id="pass" placeholder="Votre identifiant de connexion">
                        </div>
                        
                        <div class="form-group">
                            <label for"subject"="">Sujet :</label>
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="Sujet de l'incident">
                        </div>
                        
                        <div class="form-group">
                            <label for"description"="">Infos</label>
                            <textarea name="description" class="form-control" id="description" rows="10" cols="40" placeholder="Description de l'incident"></textarea>
                        </div>                        
                        
                        <div>
                            <label for="secteur">Secteur :</label>
                            <select name="secteur" class="form-control" id="secteur">
                                <option value="europe">Europe</option>
                                <option value="africa">Africa</option>
                                <option value="americanorth">Amérique du Nord</option>
                                <option value="americasouth">Amérique du Sud</option>
                                <option value="asia">Asie</option>
                                <option value="oceania">Océanie</option>
                            </select>
                        </div>
                        
                        <div>
                            <label for="priority">Niveau de priorité :</label>
                            <select name="priority" class="form-control" id="priority">
                                <option value="fort">Fort</option>
                                <option value="moyen">Moyen</option>
                                <option value="faible">Faible</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="statut">Statut :</label>
                            <select name="statut" class="form-control" id="statut">
                                <option value="En attente">En attente</option>
                                <option value="open">Ouvert</option>
                                <option value="close">Fermé</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </form>
                </div>
            </div>
    </div>
<input type="date" />
</form>
<form method="post" action="traitement.php">
   <p>
       Cocher votre problème :<br />
       <input type="checkbox" name="Mot de passe oublier" id="Mot de passe oublier" /> <label for="Mot de passe oublier">Mot de passe oublié</label><br />
       <input type="checkbox" name="perte id" id="perte id" /> <label for="perte id">perte id</label><br />
       <input type="checkbox" name="impossible d'actualiser" id="impossible d'actualiser" /> <label for="impossible d'actualiser">impossible d'actualiser</label><br />
       <input type="checkbox" name="impossible de se connecter" id="impossible de se connecter" /> <label for="impossible de se connecter">impossible de se connecter</label>
   </p>
</form>
</center>
</body>
