ul{
	color: black;
}
ul:hover{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}
.picture:hover {
	width: 60%;
}
h1 {
	text-align : center;
	font-family: arial,helvetica,sans-serif;
	font-size: 6em;
}
body{ 
	background-size: 325px;
	background: url(https://www.pctcelltherapy.com/hubfs/2017%20New%20Brand%20Imags/green_color_ribbons.jpg) no-repeat;
	background-size: 120%;
	font-family: arial, helvetica, sans-serif;
}
ul{
	margin-left:10%;
	font-size: 2em;
}
img:hover {
	width: 40%;
	height: 40%;
}

nav.menu-nav ul li.btn{
	list-style-type: none;
}

nav.menu-nav ul li.btn a{
	color: black;
	background-color:  #82D6E7;
	text-decoration: none ;
}

nav.menu-nav ul li.btn:hover a{
	color: black;
	background-color: #81E793;
}
