header{
	color: black;
	font-family: arial,helvetica;
}

body{ 
	background-size: 325px;
	background: url(https://www.pctcelltherapy.com/hubfs/2017%20New%20Brand%20Imags/green_color_ribbons.jpg) no-repeat;
	background-size: 110%;
	font-family: arial, helvetica, sans-serif;
}

label{
	color:black;
	font-family: arial,helvetica;

}

placeholder{
	font-family: arial,helvetica;
}

button{
	font-family: arial,helvetica;
}
