header{
	color: black;
	font-family: arial,helvetica;
}

body{ 
	background-size: 325px;
	background: url(https://www.pctcelltherapy.com/hubfs/2017%20New%20Brand%20Imags/green_color_ribbons.jpg) no-repeat;
	background-size: 110%;
	font-family: arial, helvetica, sans-serif;
}
body {
    font-size: 1.2em;
}
a {
  font-weight: bold;
}

span.error {
  color: blue;
  font-weight: bold;
  font-size: 115%;
}

body {
  text-align: center;
}

#cmd {
  padding: 0.3% 3% 0.3% 3%;
}

#list {
    font-weight: bold;
    border-radius: 10px;
}

.container {
  border-radius: 10px; 
  border: black solid; 
  border-width: 1px;
  border: groove 10px rgb(99, 255, 190);
}
